/*******MAIN BOX******************/

#quiz-box {
   width: 33%;
   margin: auto;
   padding-top: 15px;
}


/*******DISPLAY CONTROL***********/

label {
   display: block
}

#quiz-box input {
   display: none
}


/********BAR STYLES***************/

.quiz-bar {
   padding: 5px;
   padding-left: 20px;
   color: white;
   background-color: #666;
   border: none;
   border-left: 3px solid orange;
   width: 100%;
   min-height: 40px;
   margin: 5px auto;
}

.quiz-question {
   border: 3px solid #fff;
   border-bottom: none;
   background-color: #777;
   font-size: 1.1em;
   min-height: 60px;
   text-align: center;
}

.quiz-bar-answer:hover {
   font-weight: 120%;
   background-color: #777;
   cursor: pointer;
   border-left: 6px solid #dd0;
   padding-left: 17px;
   /*repeated padding due to border-sizing */
}

.quiz-submit {
   background-color: #666;
   font-size: 3em;
   /*<<<<<<<*/
   min-height: 60px;
   cursor: pointer;
   border: 3px solid #8F8;
   border: 3px solid #F88;
   /*<<<<<<<*/
   border-top: none;
   text-align: center;
   transition: 0.3s background-color border-color;
}

.quiz-submit:hover {
   transition: 0.3s background-color border-color;
}


/********FANCY ONCLICK**********/

input:checked+label {
   background-color: #880;
   border-left: 8px solid yellow;
   padding-left: 15px;
   /* make sure last two equals 23px */
}


/******NAVIGATION BAR **********/

.quiz-status-progress {
   width: 100%;
   display: block;
   background-color: #0d0;
}

.quiz-status {
   position: relative;
   display: block;
   width: 100%;
   min-height: 20px;
}

.quiz-status-time {
   float: right;
}

.quiz-status-id {
   position: absolute;
}


/******SUBMIT BUTTON BEHAVIOUR******/

.quiz-submit--default {
   border-bottom: 3px solid #ff3;
   border-left: 3px solid #ff3;
   border-right: 3px solid #ff3;
}

.quiz-submit--default:hover {
   background-color: #D88;
}

.quiz-submit--answer {
   border-bottom: 3px solid #3f3;
   border-left: 3px solid #3f3;
   border-right: 3px solid #3f3;
   background-color: #8A8;
}

.quiz-submit--noanswer {
   background-color: #D88;
   border-bottom: 3px solid #a33;
   border-left: 3px solid #a33;
   border-right: 3px solid #a33;
}


/********END**********/

.quiz-table {
   text-align: center;
   font-size: 0.8em;
   vertical-align: middle;
}

th {
   background-color: #555;
}

th:nth-child(10n+0) {background-color: #779}
th:nth-child(10n+1) {background-color: #779}
th:nth-child(10n+2) {background-color: #779}
th:nth-child(10n+3) {background-color: #779}
th:nth-child(10n+4) {background-color: #779}
th:nth-child(10n+5) {background-color: #779}
